
body{
    scroll-behavior: smooth;
}

.element{
    min-height: 400px !important;
}
.element > img, #content-image{
    max-height: 500px; width: 100%;
    object-fit: cover;
}
.footer{
    height: 150px;
}
.text-2{
    font-family: 'Trade Winds' !important;
    font-family: 'Open Sans' !important;
}